body{
  background-image: url(../../img/Kurumi-Table-Top-top.jpg);
  width: 100vw;
}

.GameBoard {
  position: relative;
  background:  #654321;
  width: 821px;
  height: 821px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
}

.spaces{
  width: 47px;
  height: 47px;
  background-color: #DEB887;
  border-radius: 25px;
}

.greenHome{
  width: 47px;
  height: 47px;
  background-color: darkgreen;
  border-radius: 25px;
}

.yellowHome{
  width: 47px;
  height: 47px;
  background-color: rgba(173, 173, 22, 0.555);
  border-radius: 25px;
}

.redHome{
  width: 47px;
  height: 47px;
  background-color: darkred;
  border-radius: 25px;
}

.blueHome{
  width: 47px;
  height: 47px;
  background-color: darkblue;
  border-radius: 25px;
}

.highlightBall{
  border: 4px solid whitesmoke;
}

.targetSpace{
  border: 4px solid red;
}

#middlePostion{
  position: absolute;
  width: 47px;
  height: 47px;
  top: 50%;
  left: 50%;
  margin-top: -23.5px;
  margin-left: -23.5px;
}

.playerOneBall{
  border-radius: 25px;
  background-color: chartreuse;
}

.playerOneBallStart{
  border-radius: 25px;
  background-color: chartreuse;
}

#playerOneStart{
  position: relative;
  margin: 15px;
  height: 188px;
  width: 188px;
  float: left;
}

#playerOneBallOne{
  position: relative;
  top:0;
  left:0;
  width: 47px;
  height: 47px;
}

#playerOneBallTwo{
  margin-left: 25%;
  width: 47px;
  height: 47px;
}

#playerOneBallThree{
  margin-left: 50%;
  width: 47px;
  height: 47px;
}

#playerOneBallFour{
  margin-left: 75%;
  width: 47px;
  height: 47px;
}

.playerTwoBall{
  border-radius: 25px;
  background-color: blue;
}

.playerTwoBallStart{
  border-radius: 25px;
  background-color: blue;
}

#playerTwoStart{
  position: relative;
  margin: 15px;
  height: 188px;
  width: 188px;
  float: right;
}

#playerTwoBallOne{
  margin-left: 75%;
  width: 47px;
  height: 47px;
}

#playerTwoBallTwo{
  margin-left: 50%;
  width: 47px;
  height: 47px;
}

#playerTwoBallThree{
  margin-left: 25%;
  width: 47px;
  height: 47px;
}

#playerTwoBallFour{
  margin-left: 0%;
  width: 47px;
  height: 47px;
}

.playerThreeBall{
  border-radius: 25px;
  background-color: red;
}

.playerThreeBallStart{
  border-radius: 25px;
  background-color: red;
}

#playerThreeStart{
  position: absolute;
  height: 188px;
  width: 188px;
  float: left;
  margin: 15px;
  left: 0;
  bottom: 0;
}

#playerThreeBallOne{
  margin-left: 75%;
  width: 47px;
  height: 47px;
}

#playerThreeBallTwo{
  margin-left: 50%;
  width: 47px;
  height: 47px;
}

#playerThreeBallThree{
  margin-left: 25%;
  width: 47px;
  height: 47px;
}

#playerThreeBallFour{
  margin-left: 0%;
  width: 47px;
  height: 47px;
}

.playerFourBall{
  border-radius: 25px;
  background-color: yellow;
}

.playerFourBallStart{
  border-radius: 25px;
  background-color: yellow;
}

#playerFourStart{
  position: absolute;
  height: 188px;
  width: 188px;
  float: right;
  right: 0;
  bottom: 0;
  margin: 15px;
}

#playerFourBallOne{
  margin-left: 0%;
  width: 47px;
  height: 47px;
}

#playerFourBallTwo{
  margin-left: 25%;
  width: 47px;
  height: 47px;
}

#playerFourBallThree{
  margin-left: 50%;
  width: 47px;
  height: 47px;
}

#playerFourBallFour{
  margin-left: 75%;
  width: 47px;
  height: 47px;
}

#greenDice{
  position: absolute;
  float: left;
  bottom: 0;
  margin-bottom: -15px
}

#blueDice{
  position: absolute;
  float: right;
  bottom: 0;
  right: 0;
  margin-bottom: -15px;
}

#redDice{
  position: absolute;
  float: left;
  margin-top: -15px
}

#yellowDice{
  position: absolute;
  float: right;
  right: 0;
  margin-top: -15px
}

#currentPlayer{
  background-color: whitesmoke;
  width: fit-content;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid black;
  border-radius: 25px;
}

